<div class="container py-5">
  <div class="p-5 mb-4 bg-dark rounded-3 account-banner banner">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold text-white">
        Welcome {{ current_user.first_name }}
      </h1>
      <p class="col-md-8 fs-4 text-white">
        Here you can modify or add new products and see which orders you've
        made.
      </p>
    </div>
  </div>
</div>

<ul
  class="
    nav
    row row-cols-md-2 row-cols-lg-auto
    justify-content-center
    bg-dark
    py-3
    fs-5
    mx-0
  "
>
  <li class="nav-item d-flex align-items-center justify-content-center">
    <a
      class="nav-link text-warning"
      href="{{url_for('account')}}"
      role="button"
    >
      <span><i class="bi bi-person-lines-fill pe-2"></i>My Products</span>
    </a>
  </li>

  <li class="nav-item d-flex align-items-center justify-content-center">
    <a
      id="collapseAccountBtn"
      class="nav-link text-warning"
      data-bs-toggle="collapse"
      href="#collapseAccountForm"
      role="button"
      aria-expanded="false"
      aria-controls="collapseAccountForm"
    >
      <span
        ><i class="bi bi-person-plus-fill text-warning pe-2"></i>Edit
        Profile</span
      >
    </a>
  </li>
  <li class="nav-item d-flex align-items-center justify-content-center">
    <a
      id="collapseProductFormBtn"
      class="nav-link text-warning"
      data-bs-toggle="collapse"
      href="#collapseProductForm"
      role="button"
      aria-expanded="false"
      aria-controls="collapseProductForm"
      ><span><i class="bi bi-plus-circle-fill pe-2"></i>Add Product</span></a
    >
  </li>
  <li class="nav-item d-flex align-items-center justify-content-center">
    <a
      class="nav-link text-muted"
      href="{{url_for('logout')}}"
      tabindex="-1"
      aria-disabled="true"
      >Logout</a
    >
  </li>
</ul>

<h1 class="text-center fs-5 bg-dark text-secondary py-3">
  {% if user_products|length == 1 %} You currently have {{ user_products|length
  }} product to sell. {% else %} You currently have {{ user_products|length }}
  products to sell. {% endif %}
</h1>

<div class="collapse" id="collapseAccountForm">
  <div class="card card-body border-0">
    {% include "form_account_info.html" %}
  </div>
</div>
<div class="collapse" id="collapseProductForm">
  <div class="card card-body border-0">
    {% include "form_add_product.html" %}
  </div>
</div>
