<footer class="py-5 bg-dark footer mt-auto">
  <div class="container text-center">
    <p class="m-0 text-white">&copy; Betsy's Webshop 2021</p>
    <small class="text-muted">design from: </small>
    <small class="text-muted"
      ><a
        class="text-muted"
        href="https://startbootstrap.com/template/shop-homepage"
        >This..</a
      ></small
    >
    <small class="text-muted"
      ><a class="text-muted" href="https://getbootstrap.com/docs/5.0/examples/"
        >..and that.</a
      ></small
    >
    <small class="text-muted"
      ><a class="text-muted" href="https://uicookies.com/css-buttons/"
        >..and buttons.</a
      ></small
    >
    <p class="mb-1 text-end">
      <a href="#" class="text-muted">Back to top</a>
    </p>
  </div>
</footer>
