{% extends "base.html" %}

<!-- inputfield error macro -->
{% macro with_errors(field) %}
<!--  -->
{% if field.errors %}
<!--  -->
{% set css_class = 'form-control form-control-lg is-invalid ' +
kwargs.pop('class') %}
<!--  -->
{{ field(class=css_class, **kwargs) }}
<div class="invalid-feedback">
  {% for error in field.errors %}
  <small>{{ error | e }}</small>
  {% endfor %}
</div>

{% else %} {{ field(**kwargs) }} {% endif %} {% endmacro %} {% block content %}

<div class="container mx-auto my-auto">
  <form
    class="form-signin mx-auto my-4 text-center"
    action="{{ url_for('reset_request') }}"
    ,
    method="POST"
  >
    {{ request_form.hidden_tag() }}
    <img
      class="mb-4 d-block mx-auto"
      src="{{url_for('static', filename='assets/brand.svg')}}"
      alt=""
      width="72"
      height="57"
    />
    <h1 class="h3 mb-3 fw-normal">Reset your password.</h1>
    <p>
      Enter your email and we will send you an email with instructions to reset
      your password.
    </p>

    <fieldset class="form-group row col mx-auto">
      <div class="form-floating mt-4">
        {{with_errors(request_form.email, class="form-control
        form-control-lg",placeholder="name@example.com",
        maxlength="50",autocomplete="email") }}
        <!--  -->
        {{request_form.email.label(class="form-control-label") }}
      </div>
      <div class="form-group mt-4 mb-2 p-2 mx-auto d-grid">
        {{ request_form.submit(class="btn btn-warning") }}
      </div>
    </fieldset>
  </form>
</div>

{% endblock content %}
